{% extends 'base.html.twig' %}

{% block body %}
  <div id="wrapper">
    <div id="container">
      <div id="welcome">
        <h1>
          About Us
          {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}
        </h1>
      </div>
    </div>
  </div>
{% endblock %}
